.title {
    background-color: $color-primary-dark;
    padding: 5rem 0;

    article p {
        text-align: justify;
        color: $color-red;
        font-size: 3rem;
        font-weight: 600;

        &:nth-child(2) {
            color: $color-white;
        }
    }

    .about__links {
        a {
            text-decoration: none;
            padding: 2px 8px;

            &:hover {
                background-color: $color-primary;
                border-radius: 10px;
                transition: background ease-in .3s;

                i {
                    transition: color ease-in .3s;
                    color: $color-red;
                }
            }
        }
    }
}

main {
    // padding-bottom: 20rem;

    .about, .certifications, .skills__content {
        width: 65%;
        padding-block: .5rem;
    }

    .about {
        img {
            object-fit: contain;
            width: 20%;
        }

        article {
            font-size: 1.3rem;
            text-align: justify;
        }
    }

    .certifications {
        overflow-x: scroll;

        .certifications__timeline {
            height: 45vh;
            padding-block: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .timeline__line {
                height: 1.5vh;
                width: 100%;
                background-color: $color-red;
                display: flex;

                .line__item {
                    position: relative;

                    p {
                        font-size: xx-large;

                        span {
                            color: $color-red;
                            font-weight: bold;
                            display: block;
                        }
                    }

                    .item__certs {
                        position: absolute;
                        list-style: none;

                        li {
                            width: 130px;
                            text-align: center;

                            a {
                                text-decoration: none;
                                position: relative;

                                img {
                                    position: absolute;
                                    top: -30px;
                                    left: -50px;
                                    filter: opacity(0);
                                    transition: ease-in .5s;
                                }

                                span {
                                    color: $color-red;
                                    font-weight: bold;
                                    display: block;
                                }
            
                                i {
                                    font-size: small;
                                    transition: linear .3s;
                                }
                            }
            
                            a:hover {
                                text-decoration: underline 2px solid $color-red;
            
                                img {
                                    transform: translateY(-55px);
                                    filter: opacity(1);
                                }

                                i {
                                    color: $color-red;
                                }
                            }
                        }
                    }
                }

                .line__item:nth-child(1) {
                    right: -10px;
                    bottom: 100px;

                    &::after {
                        content: "";
                        background-color: $color-red;
                        position: absolute;
                        width: 7px;
                        height: 50px;
                        margin: 0 auto;
                        bottom: -90px;
                        left: 50%;
                    }

                    .item__certs {
                        position: absolute;
                        top: -95px;
                    }
                }

                .line__item:nth-child(2) {
                    right: -300px;
                    top: 50px;

                    &::after {
                        content: "";
                        background-color: $color-red;
                        position: absolute;
                        width: 7px;
                        height: 50px;
                        margin: 0 auto;
                        bottom: 0;
                        left: 50%;
                    }

                    .item__certs {
                        position: absolute;
                        list-style: none;

                        li {
                            width: 130px;
                            text-align: center;
                        }
                    }
                }

                // .line__item:nth-child(3) {
                //     right: -350px;
                //     bottom: 100px;
                //     position: relative;

                //     &::after {
                //         content: "";
                //         background-color: $color-red;
                //         position: absolute;
                //         width: 7px;
                //         height: 50px;
                //         margin: 0 auto;
                //         bottom: -90px;
                //         left: 50%;
                //     }
                // }

                // .line__item:nth-child(4) {
                //     right: -650px;
                // }
            }
        }
    }

    .skills {
        background-color: $color-primary-dark;

        .carousel-item section {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            justify-items: center;
            align-content: center;
            gap: 1.2rem;
            padding-inline: 8rem;
        }

        .more {
            width: 65%;

            .more__grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
                justify-items: center;
                align-content: center;
                gap: 1.2rem;

                a {
                    border: .5px solid $color-secondary;
                    border-radius: 8px;
                    transition: all .4s linear;
                    text-decoration: none;

                    &:hover {
                        border: 5px solid $color-red;
                        color: $color-red;
                        font-size: x-large;
                        gap: 0 !important;
                        // background-color: $color-secondary;
                    }
                }
            }
        }
        
    }
}

/* ANIMATIONS */
main {
    .about:nth-child(2), .certifications {
        animation: appear-translate linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }

    .skills__content, .more {
        animation: appear-scale linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }
}


@media screen and (max-width: 767px) {
    .title {
        padding-block: 3rem;

        article {
            p:first-child {
                font-size: 2rem;
            }

            p:last-child {
                font-size: 1.8rem;
            }
        }
    }

    .certifications__timeline {
        width: 100vh;
    }

    main {
        .about {
            width: 90%;
        }

        .about {
            text-align: center;

            div {
                margin-top: 2rem;
                flex-direction: column-reverse;
                align-items: center;
                
                article {
                    text-align: center;
                }

                img {
                    width: 30%;
                }
            }
        }

        .skills {
            text-align: center;
            width: 100%;

            .skills__content {
                margin: 0 auto!important;
                width: 100%;
            }

            .carousel-item section {
                grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
                padding-inline: 2.2rem;

                img {
                    width: 50px !important;
                }
            }
        }
    }    
}