.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 3rem; // Ajusta el espacio entre tarjetas

    &__card {
        position: relative; /* Necesario para posicionar elementos hijos */
        border-radius: 8px;
        border: 2px solid $color-white;
        overflow: hidden; /* Asegura que nada salga del contenedor */
        transition: all linear .3s;

        .card__image {
            width: 100%;
            height: auto;
            position: relative;

            .card__info {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, #07070a, #af3453c2);
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
    
                p {
                    font-weight: bold;
                    width: 80%;
                    margin: 0 auto;
                    text-align: justify;
                }
    
                .info__languages {
                    ul {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }
                }
            }
        }

        

        article {
            a i {
                transition: color .2s linear;
            }

            a i:hover {
                color: $color-red;
            }
        }

        h2 {
            cursor: default;
        }
    }

    &__card:hover .card__info {
        opacity: 1;
    }

    &__card:hover h2 {
        color: $color-white !important;
    }
}