// $color-primary: #F8F4E1;
// $color-primary-dark: #e2dab8;
// $color-secondary: #AF8F6F;
// $color-tertiary: #74512D;
// $color-shadow: #543310;
$color-primary: #07070A;
$color-primary-dark: #24272B;
$color-secondary: #4A525A;
$color-red: #DA4167;
$color-orange: #E59F71;
$color-white: #e7e7e7;