@charset "UTF-8";
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.title article {
  animation: bounce 2.5s ease-in infinite;
}

@keyframes appear-translate {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear-scale {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fondo-logo {
  background-color: #e7e7e7;
  border-radius: 50%;
  padding: 0.3rem;
}

html > body {
  background-color: #07070A;
  color: #e7e7e7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html > body h2 {
  color: #DA4167;
}
html > body a {
  color: #e7e7e7;
}
html > body .btn-link {
  background-color: #24272B;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border: 2px solid #e7e7e7;
}
html > body .btn-link:hover {
  background-color: #DA4167;
}
html > body .btn-link:active {
  background-color: #E59F71 !important;
}

@media screen and (max-width: 767px) {
  html > body .btn-link {
    bottom: 70px;
  }
  html > body .projects {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #24272B;
}
nav section {
  width: 70%;
}
nav section header h1 {
  cursor: default;
}
nav section header h2 {
  font-size: small;
}
nav section ul {
  list-style: none;
}
nav section ul li a {
  text-decoration: none;
  padding: 0.2rem 0.7rem;
  border-radius: 5px;
  transition: all 0.2s linear;
}
nav section ul li a:hover {
  color: #07070A;
  background-color: #DA4167;
}

.mobileMenu {
  background-color: #24272B;
  position: fixed;
  bottom: 0;
}
.mobileMenu ul {
  list-style: none;
}
.mobileMenu ul .fa-solid:hover {
  transition: color 0.2s ease-in;
  color: #DA4167;
}

.title {
  background-color: #24272B;
  padding: 5rem 0;
}
.title article p {
  text-align: justify;
  color: #DA4167;
  font-size: 3rem;
  font-weight: 600;
}
.title article p:nth-child(2) {
  color: #e7e7e7;
}
.title .about__links a {
  text-decoration: none;
  padding: 2px 8px;
}
.title .about__links a:hover {
  background-color: #07070A;
  border-radius: 10px;
  transition: background ease-in 0.3s;
}
.title .about__links a:hover i {
  transition: color ease-in 0.3s;
  color: #DA4167;
}

main .about, main .certifications, main .skills__content {
  width: 65%;
  padding-block: 0.5rem;
}
main .about img {
  object-fit: contain;
  width: 20%;
}
main .about article {
  font-size: 1.3rem;
  text-align: justify;
}
main .certifications {
  overflow-x: scroll;
}
main .certifications .certifications__timeline {
  height: 45vh;
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .certifications .certifications__timeline .timeline__line {
  height: 1.5vh;
  width: 100%;
  background-color: #DA4167;
  display: flex;
}
main .certifications .certifications__timeline .timeline__line .line__item {
  position: relative;
}
main .certifications .certifications__timeline .timeline__line .line__item p {
  font-size: xx-large;
}
main .certifications .certifications__timeline .timeline__line .line__item p span {
  color: #DA4167;
  font-weight: bold;
  display: block;
}
main .certifications .certifications__timeline .timeline__line .line__item .item__certs {
  position: absolute;
  list-style: none;
}
main .certifications .certifications__timeline .timeline__line .line__item .item__certs li {
  width: 130px;
  text-align: center;
}
main .certifications .certifications__timeline .timeline__line .line__item .item__certs li a {
  text-decoration: none;
  position: relative;
}
main .certifications .certifications__timeline .timeline__line .line__item .item__certs li a img {
  position: absolute;
  top: -30px;
  left: -50px;
  filter: opacity(0);
  transition: ease-in 0.5s;
}
main .certifications .certifications__timeline .timeline__line .line__item .item__certs li a span {
  color: #DA4167;
  font-weight: bold;
  display: block;
}
main .certifications .certifications__timeline .timeline__line .line__item .item__certs li a i {
  font-size: small;
  transition: linear 0.3s;
}
main .certifications .certifications__timeline .timeline__line .line__item .item__certs li a:hover {
  text-decoration: underline 2px solid #DA4167;
}
main .certifications .certifications__timeline .timeline__line .line__item .item__certs li a:hover img {
  transform: translateY(-55px);
  filter: opacity(1);
}
main .certifications .certifications__timeline .timeline__line .line__item .item__certs li a:hover i {
  color: #DA4167;
}
main .certifications .certifications__timeline .timeline__line .line__item:nth-child(1) {
  right: -10px;
  bottom: 100px;
}
main .certifications .certifications__timeline .timeline__line .line__item:nth-child(1)::after {
  content: "";
  background-color: #DA4167;
  position: absolute;
  width: 7px;
  height: 50px;
  margin: 0 auto;
  bottom: -90px;
  left: 50%;
}
main .certifications .certifications__timeline .timeline__line .line__item:nth-child(1) .item__certs {
  position: absolute;
  top: -95px;
}
main .certifications .certifications__timeline .timeline__line .line__item:nth-child(2) {
  right: -300px;
  top: 50px;
}
main .certifications .certifications__timeline .timeline__line .line__item:nth-child(2)::after {
  content: "";
  background-color: #DA4167;
  position: absolute;
  width: 7px;
  height: 50px;
  margin: 0 auto;
  bottom: 0;
  left: 50%;
}
main .certifications .certifications__timeline .timeline__line .line__item:nth-child(2) .item__certs {
  position: absolute;
  list-style: none;
}
main .certifications .certifications__timeline .timeline__line .line__item:nth-child(2) .item__certs li {
  width: 130px;
  text-align: center;
}
main .skills {
  background-color: #24272B;
}
main .skills .carousel-item section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-items: center;
  align-content: center;
  gap: 1.2rem;
  padding-inline: 8rem;
}
main .skills .more {
  width: 65%;
}
main .skills .more .more__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-items: center;
  align-content: center;
  gap: 1.2rem;
}
main .skills .more .more__grid > a {
  border: 0.5px solid #4A525A;
  border-radius: 8px;
  transition: all 0.4s linear;
  text-decoration: none;
}
main .skills .more .more__grid > a:hover {
  border: 5px solid #DA4167;
  color: #DA4167;
  font-size: x-large;
  gap: 0 !important;
}

/* ANIMATIONS */
main .about:nth-child(2), main .certifications {
  animation: appear-translate linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
main .skills__content, main .more {
  animation: appear-scale linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@media screen and (max-width: 767px) {
  .title {
    padding-block: 3rem;
  }
  .title article p:first-child {
    font-size: 2rem;
  }
  .title article p:last-child {
    font-size: 1.8rem;
  }
  .certifications__timeline {
    width: 100vh;
  }
  main .about {
    width: 90%;
  }
  main .about {
    text-align: center;
  }
  main .about div {
    margin-top: 2rem;
    flex-direction: column-reverse;
    align-items: center;
  }
  main .about div article {
    text-align: center;
  }
  main .about div img {
    width: 30%;
  }
  main .skills {
    text-align: center;
    width: 100%;
  }
  main .skills .skills__content {
    margin: 0 auto !important;
    width: 100%;
  }
  main .skills .carousel-item section {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    padding-inline: 2.2rem;
  }
  main .skills .carousel-item section img {
    width: 50px !important;
  }
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 3rem;
}
.projects__card {
  position: relative; /* Necesario para posicionar elementos hijos */
  border-radius: 8px;
  border: 2px solid #e7e7e7;
  overflow: hidden; /* Asegura que nada salga del contenedor */
  transition: all linear 0.3s;
}
.projects__card .card__image {
  width: 100%;
  height: auto;
  position: relative;
}
.projects__card .card__image .card__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #07070a, rgba(175, 52, 83, 0.7607843137));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.projects__card .card__image .card__info p {
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
.projects__card .card__image .card__info .info__languages ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.projects__card article a i {
  transition: color 0.2s linear;
}
.projects__card article a i:hover {
  color: #DA4167;
}
.projects__card h2 {
  cursor: default;
}
.projects__card:hover .card__info {
  opacity: 1;
}
.projects__card:hover h2 {
  color: #e7e7e7 !important;
}

.contact__content {
  width: 50%;
}
.contact__content form {
  width: 100%; /* Asegura que el formulario ocupe el ancho disponible */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  padding: 10px; /* Espaciado interior */
}
.contact__content .text-warning {
  display: block; /* Asegura que el mensaje ocupe toda la línea */
  color: #ffc107; /* Color de advertencia */
  margin-top: 5px; /* Espacio entre el input y el mensaje de error */
  font-size: 0.85em; /* Tamaño del texto más pequeño */
}
.contact__content input, .contact__content textarea {
  width: 100%; /* Que los campos de texto ocupen todo el ancho del formulario */
  padding: 10px; /* Espaciado dentro de los campos */
  margin-bottom: 10px; /* Espacio entre los campos */
  box-sizing: border-box; /* Asegura que el padding no expanda el input */
  background-color: #24272B;
  border: none;
  color: white;
  letter-spacing: 1px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 0.5px #4A525A;
  transition: all ease-in-out 0.25s;
}
.contact__content input:focus, .contact__content textarea:focus {
  box-shadow: inset 0 0 10px 0.5px #DA4167;
  outline: none;
}
.contact__content button {
  display: block;
  width: 100%; /* Botón del mismo ancho que los inputs */
  padding: 10px;
  background-color: #a5717e; /* Color del botón */
  color: white;
  border: none;
  cursor: pointer;
  transition: all ease-in 0.2s;
  border-radius: 10px;
}
.contact__content button:hover, .contact__content button:focus {
  outline: none;
  background-color: #DA4167;
}
.contact__content button:active {
  background-color: #a6314e;
}
.contact__content .d-flex.flex-column {
  margin-bottom: 15px; /* Espacio entre los campos del formulario */
}

@media screen and (max-width: 767px) {
  .contact__content {
    width: 100%;
    padding-inline: 2rem;
  }
  .contact__content form div.w-50 {
    width: 100% !important;
  }
  .contact__content .form__inputs {
    display: block !important;
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
